body {
    font-family: "Source Serif Pro", "Apple Garamond", Baskerville, "Libre Baskerville", "Times New Roman", "Droid Serif", Times, serif;
    font-size: 2em;
    color: #000;
    background-color: #fff;
}

code {
    background: transparent;
    font-family: "JetBrains Mono", "Liberation Mono", Consolas, Courier, monospace;
}

a {
    color: #272727;
    text-decoration: none;
    background-image: linear-gradient(#333, #333);
    background-size: 1px 1px;
    background-repeat: repeat-x;
    background-position: 0% calc(100% - 0.1em);
    font-variant-numeric: lining-nums;
    text-shadow: 0      0.05em #fff,
                 0.05em 0.05em #fff,
                -0.05em 0.05em #fff,
                 0.17em 0      #fff,
                -0.17em 0      #fff;
}

a:hover {
    color: #999;
    background-image: linear-gradient(#999, #999);
}

.post-list {
    list-style: none;
    padding-left: 0;
}

body > footer.container {
    margin-top: 2em;
}

.logo {
  margin: 2em auto;
  text-align: center;
  font-size: 200%;
}

.logo a {
  font-weight: bold;
}

.svg-tooltip {
  background: rgba(69,77,93,.9);
  border-radius: .1rem;
  color: #fff;
  display: block;
  text-align: left;
  font-size: 11px;
  max-width: 320px;
  padding: .2rem .4rem;
  position: absolute;
  text-overflow: ellipsis;
  white-space: pre;
  z-index: 300;
  visibility: hidden;
}

@media only screen and (prefers-color-scheme: dark) {
    body {
        color: #ffffff;
        background-color: #010101;
    }

    a {
        color: #e5e5e5;
        text-decoration: none;
        background-image: linear-gradient(#dcdcdc, #dcdcdc);
        background-size: 1px 1px;
        background-repeat: repeat-x;
        background-position: 0% calc(100% - 0.1em);
        font-variant-numeric: lining-nums;
        text-shadow: 0      0.05em #010101,
                     0.05em 0.05em #010101,
                    -0.05em 0.05em #010101,
                     0.17em 0      #010101,
                    -0.17em 0      #010101;
    }

    a:hover {
        color: #999;
        background-image: linear-gradient(#8b8b8b, #8b8b8b);
    }
}
