<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>{{ site.head_title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author }}">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="/assets/normalize.css">
  <link rel="stylesheet" href="/assets/skeleton.css">
  <link rel="stylesheet" href="/assets/main.css">
</head>

