<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>{{ site.head_title }}</title>
  <meta name="description" content="Leiningen: automating Clojure projects">
  <meta name="author" content="Phil Hagelberg and contributors">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="/assets/skeleton.css">
  <link rel="stylesheet" href="/assets/normalize.css">
  <link rel="stylesheet" href="/assets/main.css">

  <link href="https://fonts.googleapis.com/css?family=Inconsolata"
        rel="stylesheet" type="text/css">
</head>

