body {
    font-size: 20px;
    line-height: 28px;
    font-family: serif;
}

main {
    width: 800px;
    margin: auto;
}

h1 {
    color: #333;
    font-weight: lighter;
    text-align: center;
}

article>header {
    text-align: center;
    font-weight: lighter;
}

article>footer>nav {
    text-align: center;
}

.dt-published {
    font-size: 16px;
    color: #333;
}

.post-list {
    list-style: none;
    padding-left: 0;
}