* {
    font-family: monospace;
    font-weight: normal;
}

h1 {
    font-weight: lighter;
    text-align: center;
}

article>header {
    text-align: center;
    font-weight: lighter;
}

article>footer>nav {
    text-align: center;
}

.dt-published {
    display:inline-block;
    color: #333;
}

.post-list {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    border-bottom: 1px solid;
}

@media only screen and (prefers-color-scheme: dark) {
    body {
        color: rgb(218, 218, 218);
        background-color: rgb(54, 54, 56);
    }


    h1 {
        color: rgba(255, 255, 255, 0.780392);
    }

    .dt-published {
        color: rgba(255, 255, 255, 0.780392);
    }
}
