---
layout: default
---

  {%- if site.title -%}
    <h1>{{ site.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h3>Masterpieces</h3>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: "%d.%m.%Y" }}</span>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
